body{
    margin: 0px;
    background-image: url(doraemon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.header{
    height: 100px;
    width: 100%;
    background-color: aqua;
    text-align: center;
}
.title{
   font-size:80px ;
   padding-top: 7PX;
   font-family: 'Times New Roman', Times, serif;
}
.left{
    height: 250px;
    width: 25%;
    background-color: #609af1;
    margin-top: 130px;
    margin-left: 280px;
    border-radius: 20px;
    float: left;
}
.nav{
    width: 90%;
    height: 100px;
    float:left;
    text-decoration: none;
    line-height: 110px;background-color: #609af1;
    margin-top: 50px;
    margin-left: 20px;
}
.aboutme{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: black;
}
.body{
    height: 512px;
    width: 100%;
}
.right{
    height: 250px;
    width: 25%;
    background-color: #609af1;
    margin-top: 130px;
    margin-right: 280px;
    border-radius: 20px;
    float: right;
}
.nav2{
    width: 90%;
    height: 100px;
    float:left;
    text-decoration: none;
    line-height: 110px;background-color:#609af1;
    margin-top: 50px;
    margin-left: 20px;
}
.output{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-seriff;
    font-size: 50px;
    color: black;
}
.footer{
    height: 30px;
    width: 100%;
    background-color: aqua;
    
}